*:focus, *:active {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: flex-end;
	height: 60px;
	outline: 1px solid black;
}

#search-input {
	height: 30px;
	margin-right: 20px;
	margin-top: 10px;
}

.search {
	margin-top: 15px;
	margin-right: 15px;
	width: 120px;
	height: 30px;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
}

.cart-button {
	margin-top: 15px;
	margin-right: 15px;
	width: 120px;
	height: 30px;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
}

.cart-button:hover {
	background-color: rgb(253, 28, 39);
	transition: 0.5s;
}

.goods-list {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.goods-item {
	padding-bottom: 10px;
	width: 200px;
	border: 1px solid #8c8c8c;
	border-radius: 8px;
	background-color: #c8c8c8;
}

.goods-item:hover {
	box-shadow: 0 0 10px rgb(0, 0, 0);
	background-color: rgb(255, 153, 153);
	transition: 0.5s;
}

.goods-item img {
	width: 90%;
	margin: 10px;
}

.goods-item h3 {
	text-align: center;
	margin: 0;
	font-size: 18px;
	color: rgb(0, 0, 0);
}

.goods-item p {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	color: #fff;
}

.goods-item button {
	padding: 10px;
	margin-left: 15%;
	border-radius: 8px;
}

.goods-item button:hover {
	background-color: rgb(253, 28, 39);
	cursor: pointer;
}

.cost{
	margin-top: 30px;
	text-align: center;
}

/* Корзина */

.cart {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: 2, 200px;
	justify-content: space-around;
	grid-row-gap: 10px;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid rgb(253, 28, 39);
}

.cart-count {
	margin-left: 10px;
}

.cart-info {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.cart-title {
	font-size: 18px;
}

.total-cost {
	display: flex;
	flex-wrap: wrap;
}

.cart h2 {
	font-size: 18px;
	text-align: center;
}

.cart-item {
	padding-bottom: 10px;
	text-align: center;
	width: 200px;
	border: 1px solid #8c8c8c;
	border-radius: 8px;
	background-color: #c8c8c8;
}

.cart-item:hover {
	box-shadow: 0 0 10px rgb(0, 0, 0);
	background-color: rgb(255, 153, 153);
	transition: 0.5s;
}

.cart-item img {
	width: 90%;
	margin: 10px;
}

.cart-item h3 {
	text-align: center;
	margin: 0;
	font-size: 18px;
	color: rgb(0, 0, 0);
}

.cart-item-price {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	color: #fff;
}

/* .delete-from-cart {
	margin-left: 60%;
	border-radius: 8px;
} */


.delete-from-cart, .add-to-cart {
	cursor: pointer;
}


.delete-from-cart:hover {
	background-color: rgb(253, 28, 39);
	cursor: pointer;
}